.duration_base {
  @mixin flex-row-center;

  .duration {
    /* margin-top: 1em; */
    /* border: 3px solid $color-boulder; */
    background-color: $color-mineShaft;
    color: $color-silver;
    text-align: center;
    /* width: 7em; */

    label,
    input {
      /* padding-top: 0.2em; */
      padding-top: 0;
    }

    label {
      display: block;
    }

    .duration-button {
      @mixin button gray;
    }
  }

  .duration-controls {
    @mixin flex-row-center;

    .duration-button {
      @mixin button gray;
      width: 0.9em;
      margin-right: 0;
      margin-left: 0.2rem;
      height: 1.8em;
    }
  }
}
